version: "3.8"

services:
  postgres-db:
    image: postgres:15
    container_name: postgres-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
      POSTGRES_DB: go-grpc-auth
    ports:
      - "5435:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  go-grpc-auth:
    image: go-grpc-auth
    container_name: go-grpc-auth
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      postgres-db:
        condition: service_healthy
    ports:
      - "50051:50051"
    environment:
      DB_HOST: postgres-db
      DB_USER: postgres
      DB_PASSWORD: root
      DB_NAME: go-grpc-auth
      DB_PORT: 5435
      DB_SSLMODE: disable

volumes:
  pgdata:
