version: "3.8"

services:
  postgres-db:
    image: postgres:15
    container_name: postgres-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
      POSTGRES_DB: go-grpc-auth
    ports:
      - "5435:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  go-grpc-auth:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: go-grpc-auth
    depends_on:
      postgres-db:
        condition: service_healthy
    environment:
      DB_HOST: postgres-db
      DB_USER: postgres
      DB_PASSWORD: root
      DB_NAME: go-grpc-auth
      DB_PORT: 5432
      DB_SSLMODE: disable
    ports:
      - "50051:50051"

  kong-database:
    image: postgres:15
    container_name: kong-database
    environment:
      POSTGRES_USER: kong
      POSTGRES_PASSWORD: kong
      POSTGRES_DB: kong
    volumes:
      - kong_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U kong"]
      interval: 10s
      timeout: 5s
      retries: 5

  kong:
    image: kong:3.6.0
    container_name: kong
    depends_on:
      kong-database:
        condition: service_healthy
    environment:
      KONG_DATABASE: postgres
      KONG_PG_HOST: kong-database
      KONG_PG_USER: kong
      KONG_PG_PASSWORD: kong
      KONG_PROXY_ACCESS_LOG: /dev/stdout
      KONG_ADMIN_ACCESS_LOG: /dev/stdout
      KONG_PROXY_ERROR_LOG: /dev/stderr
      KONG_ADMIN_ERROR_LOG: /dev/stderr
      KONG_ADMIN_LISTEN: 0.0.0.0:8001
      # HTTP traffic (REST + grpc-gateway)
      KONG_PROXY_LISTEN: 0.0.0.0:8000 http2

      # Pure gRPC traffic
      KONG_STREAM_LISTEN: 0.0.0.0:50051

    ports:
      - "8000:8000"    # Kong HTTP/REST proxy
      - "8001:8001"    # Kong Admin API
      - "50052:50051"  # Kong gRPC proxy (host 50052 -> container 50051)
    command: ["kong", "docker-start"]

volumes:
  pgdata:
  kong_data:
